extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/users' method='post')
    input(type='text', name='origin', placeholder='origin')

    input(type='text', name='destination', placeholder='destination')

    label(for='row1')
      p Waypoints:
    table
      thead
        tr
          th
          th 1
          th 2
          th 3
          th 4
          th 5
      tr
        th A
        td
          input(type='text', name='row1')
        td
          input(type='text', name='row1')
        td
          input(type='text', name='row1')
        td
          input(type='text', name='row1')
        td
          input(type='text', name='row1')
      tr
        th B
        td
          input(type='text', name='row2')
        td
          input(type='text', name='row2')
        td
          input(type='text', name='row2')
        td
          input(type='text', name='row2')
        td
          input(type='text', name='row2')
      tr
        th C
        td
          input(type='text', name='row3')
        td
          input(type='text', name='row3')
        td
          input(type='text', name='row3')
        td
          input(type='text', name='row3')
        td
          input(type='text', name='row3')
      tr
        th D
        td
          input(type='text', name='row4')
        td
          input(type='text', name='row4')
        td
          input(type='text', name='row4')
        td
          input(type='text', name='row4')
        td
          input(type='text', name='row4')
      tr
        th E
        td
          input(type='text', name='row5')
        td
          input(type='text', name='row5')
        td
          input(type='text', name='row5')
        td
          input(type='text', name='row5')
        td
          input(type='text', name='row5')
    input(type='submit')
