extends layout

block content
  h1= title
  p Welcome to #{title}

  table
    thead
      tr
        th
        th 1
        th 2
        th 3
        th 4
        th 5
    tr
      th A
      td
        input(type='text', name='a1')
      td
        input(type='text', name='a2')
      td
        input(type='text', name='a3')
      td
        input(type='text', name='a5')
      td
        input(type='text', name='a5')
    tr
      th B
      td
        input(type='text', name='b1')
      td
        input(type='text', name='b2')
      td
        input(type='text', name='b3')
      td
        input(type='text', name='b5')
      td
        input(type='text', name='b5')
    tr
      th C
      td
        input(type='text', name='c1')
      td
        input(type='text', name='c2')
      td
        input(type='text', name='c3')
      td
        input(type='text', name='c5')
      td
        input(type='text', name='c5')
    tr
      th D
      td
        input(type='text', name='d1')
      td
        input(type='text', name='d2')
      td
        input(type='text', name='d3')
      td
        input(type='text', name='d5')
      td
        input(type='text', name='d5')
    tr
      th E
      td
        input(type='text', name='e1')
      td
        input(type='text', name='e2')
      td
        input(type='text', name='e3')
      td
        input(type='text', name='e5')
      td
        input(type='text', name='e5')
