body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, input[type='text'] {
  width: 100%;
}

.algolia-places.focused {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 1 !important;
}

.algolia-places.focused input {
  background: lightyellow;
}
